<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nudge</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/CSS/bcPicker.css">
    <link rel="stylesheet" href="~/lib/CSS/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/JsTree/style.min.css">
    <link rel="stylesheet" href="~/lib/plugins/popover/css/bootstrap-popover-x.min.css">
    <link rel="stylesheet" href="~/lib/plugins/popover/css/bootstrap-popover-x.css">
    <link rel="stylesheet" href="~/lib/plugins/summernote/summernote.min.css">
    <link rel="stylesheet" href="~/lib/plugins/alertifyjs/css/alertify.min.css">
    <link rel="stylesheet" href="~/lib/plugins/alertifyjs/css/themes/default.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/CSS/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        .nav-link:hover {
            background-color: rgba(0,0,0,.1);
        }

        .nav-icon.fas.fa-copy {
            color: black;
        }

        .note-editor .note-editable {
            line-height: 0.3;
        }

        .card-body p {
            margin-bottom: 0px;
        }

        .ajs-content {
            text-align: center;
        }
    </style>

</head>

<body onload="initializeNotes()" class="hold-transition sidebar-mini sidebar-collapse">
    <form>
        <div class="wrapper">
            <!-- Navbar -->
            <nav style="border: none" class="main-header navbar navbar-expand navbar-white navbar-light">

                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars text-dark"></i></a>
                    </li>
                </ul>

                <!-- SEARCH FORM -->
                <ul class="navbar-nav ml-auto">
                    <div class="form-inline ml-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search text-dark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ul>

            </nav>

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-light-primary elevation-4">
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                    <img src="~/lib/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">NUDGE</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/lib/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a id="btnAddCategory" onclick="showAddCategoryModal()" href="#" class="nav-link">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <p class="text">Add category</p>
                                </a>
                            </li>

                            <div id="treeContainer">

                            </div>

                            <li class="nav-header">LABELS</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-danger"></i>
                                    <p class="text">Important</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-warning"></i>
                                    <p>Warning</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-info"></i>
                                    <p>Informational</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="background: #ffffff">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 id="categoryTitle"></h1>
                            </div>
                            <div class="col-sm-6">
                                <input type="image" id="btnAdd" src="~/lib/images/add.png" style="width: 50px; height: 50px; float: right; margin-right: 50px;" data-toggle="modal" data-target="#modalNote" />
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row" id="divNotes">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" id="txtNoteTitle" class="form-control" placeholder="Title" />
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="txtAddModal"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="color-container">
                            <div id="bcPicker1" class="color-picker border rounded" style="width: 45px; height: 45px; padding: 5px"></div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addNote()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal -->
        <div class="modal fade bd-example-modal-lg" id="modalEditNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" id="txtEditNoteTitle" class="form-control" placeholder="Title" />
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" id="txtEditModal" aria-multiline="true" style="height: 200px; width: 100%" placeholder="Content"></textarea>
                    </div>
                    <div class="modal-footer">
                        <div class="color-container">
                            <div id="bcPicker2" class="color-picker border rounded" style="width: 45px; height: 45px; padding: 5px"></div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="editNote()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Category Modal -->
        <div class="modal fade bd-example-modal-lg" id="modalAddCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control mb-1" id="txtCatTitle" placeholder="Category Title" />
                        <div class="row">
                            <div class="col-3 my-auto">Parent category</div>
                            <div class="col-9">
                                <select id="ddCategories" class="form-control">
                                    <option value="1">Notes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addCategory()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/JS/adminlte.min.js"></script>
    <script src="~/lib/JS/demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/JS/bcPicker.js"></script>
    <script type="text/javascript" src="~/lib/JS/Notify/notify.min.js"></script>
    <script type="text/javascript" src="~/lib/JS/Notify/notify.js"></script>
    <script type="text/javascript" src="~/lib/JsTree/jstree.min.js"></script>
    <script type="text/javascript" src="~/lib/JS/Notify/notify.js"></script>
    <script type="text/javascript" src="~/lib/plugins/summernote/summernote.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/popover/js/bootstrap-popover-x.js"></script>
    <script type="text/javascript" src="~/lib/plugins/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="~/lib/plugins/alertifyjs/alertify.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/popper.min.js"></script>

    @RenderSection("script")
</body>
</html>
